.modal {
  background-color: var(--modal-bg);
  color: var(--text-primary);
  padding: 20px 30px 300px 30px;
  border-radius: 20px 20px 0 0;
  box-shadow: var(--button-shadow-hover);
  position: fixed;
  top: 0;
  width: 100%;
  height: calc(100% + 300px);
  max-width: 100%;
  transform: translateY(100%);
  transition: transform 0.4s cubic-bezier(0.16, 1, 0.3, 1), border-radius 0.35s cubic-bezier(0.16, 1, 0.3, 1), background-color 0.3s ease, color 0.3s ease;
  transform-origin: bottom center;
  z-index: 110;
  display: flex;
  flex-direction: column;
  pointer-events: all;
}

.modal:not(.dragging) {
  cursor: grab;
  transition: transform 0.4s cubic-bezier(0.16, 1, 0.3, 1), translate .3s, border-radius 0.35s cubic-bezier(0.16, 1, 0.3, 1);
}

.modal.open {
  transform: translateY(40%);
}

.modal.closing {
  transform: translateY(100%);
}

.modal.fullscreen {
  transform: translateY(0);
  border-radius: 0;
}

.pill {
  width: 50px;
  height: 5px;
  background-color: var(--border);
  border-radius: 3px;
  margin: 0 auto 15px;
  position: relative;
  top: 5px;
  cursor: grab;
  transition: background-color 0.3s ease;
}

.closeButton {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-secondary);
  transition: color 0.2s, background-color 0.2s;
  z-index: 2;
  display: none;
  background-color: var(--surface-secondary);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.closeButton:hover {
  color: var(--text-primary);
  background-color: var(--border);
}

.content {
  margin-top: 20px;
  padding-bottom: 10px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.title {
  margin-bottom: 10px;
  color: var(--text-primary);
  font-size: 1.5rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.description {
  color: var(--text-secondary);
  line-height: 1.5;
  transition: color 0.3s ease;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--modal-overlay);
  transition: background-color 0.3s ease;
  z-index: 100;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: opacity 0.3s ease-out;
  opacity: 0;
  /* pointer-events: none; */
}

.overlay.open {
  opacity: 1;
}

.overlay.closing {
  opacity: 0;
}

/* Desktop styles */
@media (min-width: 768px) {
  .overlay {
    align-items: center;
    justify-content: flex-end;
  }

  .modal {
    position: fixed;
    top: 0;
    bottom: auto;
    right: 0;
    max-width: 100%;
    width: 700px;
    border-radius: 20px 0 0 20px;
    transform: translateX(100%);
  }

  .modal.open {
    transform: translateX(0);
  }

  .modal.closing {
    transform: translateX(100%);
  }

  .modal.fullscreen {
    top: 0;
    border-radius: 20px 0 0 20px;
  }

  .pill {
    display: none;
  }

  .closeButton {
    display: flex;
  }
}